<div>
	<div class="col-md-2 sidebar">
			<div class="panel panel-primary">
            <div class="panel-heading">
              Menu
            </div>
		<div class="panel-body">
         	<ul class="nav nav-pills nav-stacked">
				{{#link-to 'almacen.materiales' tagName="li"}}<a {{bindAttr href="view.href"}}>Materiales</a>{{/link-to}}
			
			    {{#link-to 'almacen.proveedores' tagName="li"}}<a {{bindAttr href="view.href"}}>Proveedores</a>{{/link-to}}
			    {{#link-to 'almacen.historial' tagName="li"}}<a {{bindAttr href="view.href"}}>Historial</a>{{/link-to}}
			    {{#link-to 'almacen.movimiento' tagName="li"}}<a {{bindAttr href="view.href"}}>Nuevo Movimiento</a>{{/link-to}}			    
			</ul>
        </div>
			</div>
	</div>      
</div>
