<footer class="navbar-fixed-bottom">
	<div class="container">
    	<hr />
  		<div class="row">
    		<div class="col-lg-12">
      			<div class="col-md-6">
        			<ul class="list-group">
        				<li class="list-group-item">
							<span>{{fa-icon "info"}}</span>
	        				<span>Sistelred, C.A. Rif-0000000-0</span>
        				</li>
        				<li class="list-group-item">
				        	<span>{{fa-icon "phone"}}</span>
				        	<span>0212-0000000 / 0212-2222222</span>
				        </li>
        				<li class="list-group-item">
				        	<span>{{fa-icon "map-marker"}}</span>
				        	<span>Guatire, Centro Comercial Daymar II, Piso 2 Oficina 15</span>
        				</li>
        			</ul>
      			</div>
      			<div class="col-md-6">
        			<ul class="list-group">
        				<li class="list-group-item">
		        			<address>
				  				<strong>Sistelred, C.A.</strong><br>
				  				© 2013 Todos Los Derechos Reservados<br>
							</address>
						</li>
        			</ul>
      			</div>
    		</div>
  		</div>
  		<hr>
	</div>
</footer>