<div>
	<div class="col-md-2 sidebar">
			<div class="panel panel-primary">
            <div class="panel-heading">
              Menu
            </div>
		<div class="panel-body">
         	<ul class="nav nav-pills nav-stacked">
					<li class="active">{{link-to 'Clientes' 'vendedor.clientes'}}</li>
			    <li>{{link-to 'Nueva Solicitud' 'vendedor.solicitud'}}</li>
			    <li><a href="#">Proyectos</a></li>
			</ul>
        </div>
			</div>
	</div>      
</div>
